<div class="top center blue">
	<h1>Blog Post # <%= @blog_post.id %></h1>
	<p>Last updated <%= time_ago_in_words(@blog_post.updated_at) %> ago.</p>
</div>
<div class="blog-post-edit">
  <%= render "form_for_post" %>
</div>