<div class="top center blue">
	<h1>Blog</h1>
	<p>My musings on life and learning how to code.</p>
</div>

<div class="blog-home">
  
  <%if @blog_posts%>
  	<ol class="blog_posts">
  		<%= render @blog_posts %>
  	</ol>
  	<%= will_paginate @blog_posts, page_links: false, previous_label: 'Newer', next_label: 'Older' %>
  <%end%>
  
</div>