<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>You have a new user!</strong></p>
    <p><%= @user.name.capitalize %> is user number <%= @user.id %>. Their email is <%= @user.email %>.</p>
  </body>
</html>